# Environment variables, logs, junk files
.env
.venv/
*.log
*.DS_Store
*__pycache__*

# Data
*.pdf
/data/AMS/noupload/*.pdf
!/data/AMS/*.pdf

# Databases
db/
*.sqlite3
.ragatouille/

# Tests
!tests/*.pdf   # Small files, required to perform standard tests.
tests/chromadb
tests/local_file_store
tests/./ragatouille
notebooks/playground.ipynb

# Sphinx documentation
docs/build/
