# Environment variables, logs, junk files, don't commit these
*.env
.venv/
*.log
*.DS_Store
*__pycache__*
dist/

# Data
*.pdf
/data/AMS/noupload/*.pdf
!/data/AMS/*.pdf
!/tests/*.pdf
*.pickle
/notebooks/*.json
/notebooks/*.csv

# Databases
db/
*.sqlite3
.ragatouille/

# Tests
.pytest_cache/
!tests/*.pdf   # Small files, required to perform standard tests.
tests/chromadb
tests/local_file_store
tests/./ragatouille
notebooks/playground.ipynb

# Sphinx documentation
docs/build/
