# Environment variables, logs, junk files, don't commit these
*.env
.venv/
*.log
*.DS_Store
*__pycache__*
dist/

# Data
*.pdf
data/AMS/noupload/*.pdf
data/AMS/*jsonl
!data/AMS/*.pdf
!tests/*.pdf
*.pickle
*.parquet

# Notebooks
notebooks/playground.ipynb
notebooks/*.csv
notebooks/*.txt
notebooks/*.parquet
notebooks/rag_response_cache.json

# Databases
db/chromadb
db/.ragatouille/*
!db/.ragatouille/colbert/indexes/colbert-ir-colbertv2.0-ams-15merge-2000-2020/
db/local_file_store

# Tests
.pytest_cache/
!tests/*.pdf   # Small files, required to perform standard tests.
tests/chromadb
tests/local_file_store
tests/.ragatouille

# Sphinx documentation
docs/build/
